body{
  margin: auto;
  max-width: 640px;
}
.container > .row > .col{ position: relative; }
.col{ padding: 0; }

#language{
  position: absolute;
  right: 0;
  top: 0;
}

img.img,
.band{
  border-left: 1px solid rgb(225,225,225);
  border-right: 1px solid rgb(225,225,225);
  box-shadow: 20px 15px 30px rgb(225 225 225);
  display: block;
  width: 100%;
}

.band{ background-color: rgb(255,235,235); }
.band.title{
  font-size: 1.3rem;
  font-weight: bold;
}
.band .material-icons{
  color: rgb(20,45,100);
  display: block;
  font-size: 4rem;
  margin-bottom: 13px;
  text-align: center;
}
.band p{
  color: rgb(20,45,100);
  margin: 0;
  text-align: center;
}
p.subTxt{ font-size: 0.8rem; }
p.titleTxt{
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 5px;
  line-height: 28px;
}

p.cpright{
  color: white;
  font-size: 10px;
}
p.cpright > a{ display: none; }

div.map{
  height: 400px;
  width: 100%;
}

#info{
  left: -100px;
  opacity: 0;
  position: absolute;
}
.btn-outline-info:hover{ color: #fff; }

.english,
.korea{ display: none; }
